.profile{
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    color: #000000;
}


.default_profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #e1e8ed;
    margin: 0 auto;
    margin-bottom: 10px;
}
.container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-btn {
    margin-top: 2.5em;
}

#default_image_form {
    margin-bottom: 0em;
}

.adminInfo header{
    background-color: white;
    display: flex;
}

header form button {
    margin-left: 2em;
}

.report{
    margin: 1em;
}

.reportOpen {
    color: green;
}

.reportClosed {
    color: red;
}

.closeReport{
    border-radius: 1em;
    padding: 0 1em;
}

a{
    color: #000000;
    font-weight: 400;
}

.closeReportForm{
    margin: 0em;
}

.chosen {
    background-color: #d3d4d5;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.hidden{
    display: none;
}