#search_results .dropdown-menu.show {
    display: inherit;
    top: inherit;
    left: inherit;
}

#search_results .dropdown-item:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 2em #1d1c1a;
    cursor: pointer;
}

.col .card {
    border-radius: 3.5rem;
}

img.auction_search_img{
  width: 20em;
  height: 20em;
}

.dropdown-item.chosen {
    display: none;
}

.col .card .countdown {
    width: max-content;
    height: max-content;
    border-radius: 2rem;
    background-color: #d3d3d3;
    font-weight: bold;
}
.col .card {
    border-width: 0.5rem;
    border-color: black;
}

.col .card .countdown:empty {
    background-color: white;
    margin-left: 1em;
}

body header {
    background-color: #f8f8f8;
}

#login {
    margin-bottom: 0em;
    background-color: black;
    border: black;
}

#search_bar_container {
    border: solid 0.2em;
}

#home,
#sell,
#buy {
    font-size: 1.88rem;
}

#user-profile:hover,
#admin-profile:hover {
    cursor: pointer;
}
#user-profile img,
#admin-profile img {
    height: 60px;
    width: 60px;
}

#logo:hover {
    cursor: pointer;
}


/*Auctions*/

.auction{
  color: black;
}

.auction header{
  background-color: white;

}

.auction main{
  background-color: rgb(244, 239, 239);
}

.auction .owner_info{
  font-size: 1.5em;
  margin-top: 1em;
}

#bid_auction{
  position: sticky;
  top: 0;
  height: fit-content;
  background: #FFFFFF;
  padding: 1em;
}

.auction .owner_info img{
  width: 3em;
  margin-right: 1em;
  height: auto;
}

#auction_information{
  
  display: grid;
  grid-template-columns: 80% 20%;
}

#auction_img{
  height: 30em;
}



.form-create{
  margin: auto;
  max-width: 60em;
}