#search_results .dropdown-menu.show {
    display: inherit;
    top: inherit;
    left: inherit;
}

#search_results .dropdown-item:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 2em #1d1c1a;
    cursor: pointer;
}

.col .card {
    border-radius: 3.5rem;
}

.dropdown-item.chosen {
    display: none;
}

.col .card .countdown {
    width: max-content;
    height: max-content;
    border-radius: 2rem;
    background-color: #d3d3d3;
    font-weight: bold;
}
.col .card {
    border-width: 0.5rem;
    border-color: black;
}

.col .card .countdown:empty {
    background-color: white;
}

body header {
    background-color: #f8f8f8;
}

#login,
#logout {
    margin-bottom: 0em;
    background-color: black;
    border: black;
}

#search_bar_container {
    border: solid 0.2em;
}
