#load-more {
    background-color: black;
    color: white;
    margin-left: 1.5rem;
    border-radius: 2rem;
    width: 30rem;
    font-size: 1.5rem;
}

#load-more:hover {
    background-color: #181818;
}


/** filters **/
@media (max-width: 768px) {
    .auctions-content{
        flex-direction: column!important;
    }
    .auctions-filters{
        flex-direction: row!important;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-between;
    }

    .auctions-filters .filter{
        width: fit-content;
    }
}


/* price SLIDE BAR */

.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 170px;
    margin-top: 1em;
    background: white;
    border-radius: 20px;
}

.slider .range-slider{
    position: relative;
    width: 800px;
    height: 5px;
    background: #ddd;
    top: 1px;
    margin: 10px;  
}


.slider .range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}


.slider .range-slider .progress{
    height: 100%;
    background: rgb(15,20,24);
    border-radius: 50px;
    position: absolute;
}

.slider .number{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: white;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.slider .range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(15,20,24);
    border-radius: 50px;
}

/** PRICE RANGE **/
.price-range [name=classification]{
    display: none;  
}

.price-range [name=classification]{
    display: none;  
}

.price-range {
    float: left;
    display:block;
}


/* Order by*/
#sortAuctions {
    float: right;
    margin-right: 1em;

}

/** Auctions Card **/

@media (max-width: 768px) {
    .auction-card{
        margin: auto;
    }
}

.auctions-list{
    gap: 1em;
    margin: 1em;
}

.auction-card{
    margin-top: 1em;
    margin: inherit;
    width: 25em;
    height: auto;
    border: 0 !important;
    
}

.auction-card .local-date{
    font-family: basisGrotesqueMono,monospace;
    font-size: small;
    margin: 0;
}

.auction-card img{
    object-fit: contain;
    width: 25em;
    height: 25em;
}

.auction-card:hover{
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
    border: 0;
}

.auction-card .price{
    margin-top: -0.5em;
    font-size: large;
    font-weight: 700;
}

.auction-card .price-text{
    font-family: basisGrotesqueMono,monospace;
    font-size: medium;
    margin: 0;
}

.auction-card .date{
    font-family: basisGrotesqueMono,monospace;
    font-size: medium;
    margin: 0;
}

.auction-card-text{
    padding: 1em;
}