.profile{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    color: #000000;
}

#balance{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    color: #000000;
    width: 25%;
}

.default_profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #e1e8ed;
    margin: 0 auto;
    margin-bottom: 10px;
}


.profile-sidebar{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 1em;
    width: 25%;
    text-align: center;
}
.profile-sidebar:hover{
    box-shadow: 0 0 10px #000000;
}
.profile-userpic img{
    float: none;
    margin: 0 auto;
    width: 175px;
    height: 175px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition:0.3s ease;
    overflow:hidden;
}

.pic:hover{
    cursor: pointer;
    scale: 1.02;
}
.profile-usertitle{
    text-align: center;
    margin-top: 20px;
}
.profile-usertitle-name{
    color: #5a7391;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
}
#current_balance{
    color: #5a7391;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
}

#balance{
    width: 25%;
    text-align: center;
}