.profile {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    color: #000000;
}

#balance {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    color: #000000;
}

.default_profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #e1e8ed;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile-sidebar {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 1em;
    text-align: center;
    width: 35em;
}
.profile-sidebar:hover {
    box-shadow: 0 0 10px #000000;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 175px;
    height: 175px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.pic:hover {
    cursor: pointer;
    scale: 1.02;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 7px;
}
#current_balance {
    color: #5a7391;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
}

#balance {
    text-align: center;
}
#profile-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: white;
}
#profile-name:hover {
    scale: 1.02;
}
#delete-user {
    text-align: center;
}
#username-at {
    text-decoration: none;
    color: #5a7391;
    font-size: 1.5em;
}

#logout {
    text-align: center;
    background-color: white;
}
button {
    font-size: 1em;
    margin: 0.5em;
}
.user-profile {
    display: flex;
    flex-direction: row;
}
#alter-info {
    margin: auto;
    max-width: 60em;
}

#owned-auctions {
    flex-grow: 1;
}



/* User Profile tabs*/

.user-profile .nav-link{
    height: 4em;
    align-items:center;
    font-size: small;
    justify-content:center;
}


@media (max-width: 768px) {
    .user-profile {
        display: block!important;

    }
}

.page-item .page-link{
    color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
}