body {
    background-color: #ffffff;
    color: #000000;
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }
  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 2em;
    max-width: 30em;
    border: 1px solid #abd7eb;
    font-size: 1.2em;
  }
  #content form .error {
    font-weight: bold;
    color: #ff3333;
    display: block;
  }
  #content form input {
    background-color: white;
  }
  @media (max-width: 70em) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
    }
    main > header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    main > header h1 {
      grid-row-end: span 2;
    }
  }
  @media (max-width: 40em) {
    #cards {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 25em) {
    body {
      margin: 0;
    }
    main > header {
      margin: 0;
      padding: 0.5em;
    }
    main > header span {
      margin: 0;
    }
    #content form {
      margin: 0;
      max-width: 25em;
    }
    article.card {
      margin: 0;
      border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
  }
  /**
   * Overide milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #F47174 ;
    border-color: #F47174 ;
    margin: 1em;
  }
  button:first-of-type{
    margin-left: 0;
  }
  a.button {
    background-color: #F47174 ;
    border-color: #F47174 ;
  }
  a.button.button-outline {
    color: #F47174 ;
  }
  a {
    color: #F47174 ;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #F47174 ;
  }
  textarea:focus {
    border-color: #F47174 ;
  }
  input{
    font-size: 1.2em;
  }


.formSection{
  display: flex;
  justify-content: center;
}

.formSection form {
  border: 1px solid #abd7eb;
  padding: 2em;
  max-width: 30em;
  font-size: 1.2em;
  margin: 0 auto;
  width: 30em;
}

