openapi: 3.0.0

info:
  version: 1.0.0
  title: 'MelodyAuctions Web API'
  description: 'Web Resources Specification (A7) for MelodyAuctions'

servers:
- url: https://lbaw2211.lbaw.fe.up.pt/
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2211

tags:
  - name: 'M01: Authentication and Profile'
  - name: 'M02: Auctions'
  - name: 'M03: Bids'
  - name: 'M04: Notifications, Follows, Reviews'
  - name: 'M05: Admin Area and Reports'
  - name: 'M06: Static/Home pages'

paths:
# M01: Authentication and Profile
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string 
                password:   
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - email
                - password
                - _token
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{username}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: USR'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    post:
      operationId: R105
      summary: 'R105: Create user'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                username:
                  type: string
                contact:
                  type: string
                _token:   
                  type: string
                  description: CSRF Token  
                
              required:
                - firstName
                - lastName
                - username
                - email
                - password
                - contact
                - _token

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{username}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /user/{username}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: Pub'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: id of the user to be desplayed
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. user profile'
      
    delete:
      operationId: R107
      summary: 'R107: Delete user'
      description: 'Delete the current authenticated user. Access: OWN ADM'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: username of the user
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
        
      responses:
        '302':
          description: 'Redirect after deleting the user.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfully deleted user. Redirect to login form.'
                  value: '/auction'
                302Failure:
                  description: 'Failed to delete user. Redirect to user profile.'
                  value: '/users/{username}'
    
    put:
      operationId: R108
      summary: 'R108: Edit user'
      description: 'Edit the current authenticated user. Access: OWN'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: id of the user to be desplayed
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                username:
                  type: string
                contact:
                  type: string
                description:
                  type: string
                picture:
                  type: string
                  format: binary
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - firstName
                - lastName
                - username
                - email
                - password
                - contact
                - description
                - _token
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update of user. Redirect to user profile.'
                  value: '/users/{username}'
                302Failure:
                  description: 'Failed update user. Redirect to user profile.'
                  value: '/users/{username}'

    post:
      operationId: R109
      summary: 'R109: Update user image'
      description: 'Update user image. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: id of the user
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - image
                - _token
      responses:
        '302':
          description: 'Redirect after processing the new user photo.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Image Upload successfully. Redirect to user profile.'
                  value: '/users/{username}'
                302Failure:
                  description: 'Failed update user image. Redirect to user profile.'
                  value: '/users/{username}'

  /api/user:
    get:
      operationId: R109
      summary: 'R109: Search Users API'
      description: 'Searches for works and returns the results as JSON. Access: PUB'
      tags:
         - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Return json object with users found'
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    username:
                      type: string
                    description:
                      type: string

  /api/user/{username}/balance:
    put:
      operationId: R110
      summary: 'R110: Add user balance'
      description: 'Add value to users balance. Access: OWN'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: id of the user to be desplayed
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                addBalance:
                  type: integer
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
                - addBalance

      responses:
        '200': 
          description: 'Ok. Balance updated.'
        '401':
          description: 'Unauthorized.'


  /api/user/{username}/bids:
    get:
      operationId: R111
      summary: 'R111: Get user bids'
      description: 'Get user bids. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: username
          description: id of the user to be desplayed
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: 'Ok. Return json object with user bids.'
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    order:
                      type: string
                    sort:
                      type: string

  /login-google:
    get:
      operationId: R112
      summary: 'R112: Google Login'
      description: 'Login with google. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to main page.'
                  value: '/'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /auth/google/callback:
    get:
      operationId: R113
      summary: 'R113: Google Callback'
      description: 'Callback from google. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to main page.'
                  value: '/'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /forgot-password:
    get:
      operationId: R114
      summary: 'R114: Forgot Password Form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show forgot password UI'
        '302':
          description: 'Redirect because user is not authorized  '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/login'
    post:
      operationId: R115
      summary: 'R115: Forgot Password'
      description: 'Forgot password. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
                - email
      responses:
        '200': 
          description: 'Ok. Email sent.'
        '302':
          description: 'Errors.'
    
  /reset-password/{token}:
    get:
      operationId: R116
      summary: 'R116: Reset Password Form'
      description: 'Provide reset password form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: query
          name: token
          description: id of the user to be desplayed
          schema:
            type: string
            format: uuid
          required: true

        - in: query
          name: email
          description: email of the user 
          schema:
            type: string
      responses:
        '200':
          description: 'Ok. Show reset password UI'
  
  /reset-password:
    post:
      operationId: R117
      summary: 'R117: Reset Password'
      description: 'Reset password. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                token:
                  type: string
              required:
                - email
                - password
                - token
      responses:
        '200': 
          description: 'Ok.'

# M02: Auctions

  /auction/create:
    get:
      operationId: R201
      summary: 'R201: Auction Creation Form'
      description: 'Provide new auction creation form. Access: USR'
      tags:
        - 'M02: Auctions'
      responses:
        '200':
          description: 'Ok. Show auction creation UI'
        '302':
          description: 'Redirect because user is not authorized  '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/login'

  /auction/{id}/edit:
    get:
      operationId: R202
      summary: 'R202: Auction Update Form'
      description: 'Provide new auction update form. Access: OWN ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction to be edited
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show auction edit UI'
        '403':
          description: 'You must be the auction owner or an admin'
    

  /auction/{id}/updatePhoto:
    post:
      operationId: R211
      summary: 'R211: Update auction photo'
      description: 'Update auction photo. Access: OWN ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction whose photo is to be changed
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  format: binary
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
    
      responses:
        '302':
          description: 'Redirect after processing the new auction photo.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to auction UI.'
                  value: '/auction/{id}/edit'
                302Failure:
                  description: 'Failed update. Redirect to auction UI.'
                  value: '/auction/{id}/edit'

  /auction/{id}/defaultImage:
    post:
      operationId: R212
      summary: 'R212: Update auction photo'
      description: 'Update auction photo. Access: ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction whose photo is to be changed
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
    
      responses:
        '200':
          description: 'Updated Photo'
        '403':
          description: 'You must be an admin'
          headers:
            response:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message

  /auction/{id}/admin:
    put:
      operationId: R213
      summary: 'R213: Auction Update Admin'
      description: 'Processes the auction update form. Access: ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction to be edited
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - title
                - description
                - _token
      responses:
        '200':
          description: 'Updated'
        '403':
          description: 'Unauthorized'
          headers:
            response:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
    delete:
      operationId: R214
      summary: 'R214: Auction Delete'
      description: 'Delete the auction. Access: ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction to be deleted
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Deleted'
        '403':
          description: 'Unauthorized'
          headers:
            response:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message

  /auction/{id}:
    get:
      operationId: R205
      summary: 'R203: View auction'
      description: 'Show the individual auction. Access: PUB'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the auction to get
            
      responses:
        '200':
          description: 'Ok. Show view Auction UI'
        '404':
          description: 'Auction Not found'
    put:
      operationId: R204
      summary: 'R204: Auction Update'
      description: 'Processes the auction update form . Access: OWN'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction to be edited
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                startDate:
                  type: string
                startPrice:
                  type: number
                minBidDif:
                  type: number
                photo:
                  type: string
                  format: binary
                description:
                  type: string
                categoryId:
                  type: integer
                manufactorId:
                  type: integer
                  
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
                - name
                - startDate
                - startPrice
                - minBidDif
                - photo
                - description
                - categoryId
                - manufactorId
      responses:
        '302':
          description: 'Redirect after processing the new auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to auction UI.'
                  value: '/auction/{id}/edit'
                302Failure:
                  description: 'Failed update. Redirect to auction UI.'
                  value: '/auction/{id}/edit'

    delete:
      operationId: R204
      summary: 'R205: Delete auction'
      description: 'Delete auction. Access: OWN ADM'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: id
          description: id of the auction to be deleted
          schema:
            type: integer
          required: true
      
      requestBody:
              required: true
              content:
                application/x-www-form-urlencoded:
                  schema:
                    type: object
                    properties:
                      _token:   
                        type: string
                        description: CSRF Token
                    required:
                      - _token
      responses:
        '302':
          description: 'Redirect after deleting auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to / page'
                  value: '/'
                302Failure:
                  description: 'Failed to delete auction. Redirect to Auction UI.'
                  value: '/auction/{id}/edit'
      
  /auction:
    get:
      operationId: R206
      summary: 'R206: View auctions'
      description: 'Show auctions. Access: PUB'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: type
          description: type of auction (uninitiated,active or closed)
          schema:
            type: string
          required: false
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: categoryId
          description: id of the category of the auction
          schema:
            type: integer
          required: false
        - in: query
          name: minPrice
          description: minimum bid price
          schema:
            type: integer
          required: false
        - in: query
          name: maxPrice
          description: maximum bid price
          schema:
            type: integer
          required: false
        - in: query
          name: order
          description: Order to be used displaying auctions
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: 'Ok. Show view Auctions UI'
    post:
      operationId: R207
      summary: 'R207: Auction Creation'
      description: 'Processes the new auction creation form submission. Access: OWN'
      tags:
        - 'M02: Auctions'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                startDate:
                  type: string
                startPrice:
                  type: number
                minBidDif:
                  type: number
                photo:
                  type: string
                  format: binary
                description:
                  type: string
                categoryId:
                  type: integer
                manufactorId:
                  type: integer
                _token:   
                        type: string
                        description: CSRF Token
              required:
                - name
                - startDate
                - startPrice
                - minBidDif
                - description
                - categoryId
                - manufactorId
                - _token

      responses:
        '302':
          description: 'Redirect after processing the new auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful addition. Redirect to auction UI.'
                  value: '/auction/{id}'
                302Failure:
                  description: 'Failed creation. Redirect to auction creation form.'
                  value: '/auction/create'

  /api/auction_json:
    get:
      operationId: R208
      summary: 'R208: Search Auctions JSON API'
      description: 'Searches for auctions and returns the results as JSON. Access: PUB'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Return json object with users found'
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    id:
                      type: integer


  /api/auction_html:
    get:
      operationId: R209
      summary: 'R209: Search Auctions HTML API'
      description: 'Searches for auctions and returns the results as HTML. Access: PUB'
      tags:
        - 'M02: Auctions'
      parameters:
        - in: query
          name: type
          description: type of auction (uninitiated,active or closed)
          schema:
            type: string
          required: false
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: categoryId
          description: id of the category of the auction
          schema:
            type: integer
          required: false
        - in: query
          name: minPrice
          description: minimum bid price
          schema:
            type: integer
          required: false
        - in: query
          name: maxPrice
          description: maximum bid price
          schema:
            type: integer
          required: false
        - in: query
          name: order
          description: Order to be used displaying auctions
          schema:
            type: string
          required: false
        - in: query
          name: offset
          description: Offset of the auctions to be displayed
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: 'Ok. Return html with auctions found'
          content:
            text/html:
                schema:
                  format: html
    
  /user/{username}/auction:
    get:
      parameters:
        - in: path
          name: username
          description: username whose auctions are to be shown
          schema:
            type: string
          required: true
      operationId: R210
      summary: 'R210: View user auctions'
      description: 'Show user auctions. Access: USR'
      tags:
        - 'M02: Auctions'
      responses:
        '200':
          description: 'Ok. View user auctions UI'

# M03: Bids
  /api/auction/{id}/bid:
    post:
      operationId: R301
      summary: 'R301: Make bid'
      description: 'Authenticated user submits a bid. Access: USR'
      tags:
        - 'M03: Bids'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true 
          description: Numeric ID of the auction to bid
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:         
                  type: number
                  description: Bid value
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - value
                - _token
      
      responses:
        '302':
          description: 'Redirecting to Auction Page'
        '404':
          description: 'Auction Not Found'

    get:
      operationId: R302
      summary: 'R302: View the auction past bids'
      description: 'Show the historic of bids of an auction. Access: PUB'
      tags:
        - 'M03: Bids'

      parameters:
        - in: query
          name: id 
          description: Numeric ID of the auction to list bids
          schema:
            type: integer
          required: true  
        - in: query
          name: offset 
          description: Offset of the bids to lists (show 10 bids per page)
          schema:
            type: integer
          required: false 
      responses:
        '200':
          description: 'List of bids'
          content:
            text/html:
              schema:
                format: html
                example: '<a href="#" class="list-group-item list-group-item-action " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">

                              <h5 class="mb-1">Eugenie Saint</h5>
                              <small>2022-11-17 12:00:00.321</small>
                            </div>
                            <p class="mb-1">20€</p>
                          </a>'
        '404':
          description: 'Auction Not Found'

  /api/auction/{auctionId}/message:
    post:
      operationId: R303
      summary: 'R303: Send message to auction owner'
      description: 'Authenticated user sends a message to the auction owner. Access: USR'
      tags:
        - 'M03: Bids'
      parameters:
        - in: path
          name: auctionId
          schema:
            type: integer
          required: true 
          description: Numeric ID of the auction to send message
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:         
                  type: string
                  description: Message to send
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - message
                - _token
      
      responses:
        '200':
          description: 'Successfully sent message'
        '401':
          description: 'You must be logged in to send a message'        

# M04: Notifications, Follows, Reviews

  /api/notifications/{userId}:
    put:
      operationId: R401
      summary: 'R401: Mark notifications as read'
      description: 'Mark notifications as read. Access: USR'
      tags:
        - 'M04: Notifications, Follows, Reviews'
      parameters:
        - in: path
          name: userId
          description: id of the user whose notifications are to be marked as read
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Marked Notifications as read'
        '500':
          description: 'Error marking notifications as read'
      
  
  /user/{username}/review:
    post:
      operationId: R403
      summary: 'R403: Create user review'
      description: 'Create a review for the user. Access: USR'
      tags:
        - 'M04: Notifications, Follows, Reviews'
      parameters:
        - in: query
          name: username
          description: username of the reviews to be shown
          schema:
            type: string
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                rating:          # <!--- form field name
                  type: integer
                comment:    # <!--- form field name
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - rating
                - comment
                - _token
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful review of user. Redirect to review.'
                  value: '/users/{username}/reviews/{review_id}'
                302Failure:
                  description: 'Failed review of user. Redirect to user profile.'
                  value: '/users/{username}'

  /api/follow:
    post:
      operationId: R404
      summary: 'R404: Follow an auction'
      description: 'Authenticated user follows an auction. Access: USR'
      tags:
        - 'M04: Notifications, Follows, Reviews'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                auctionid:
                  type: integer
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - auctionid
                - _token
      responses:
        '201':
          description: 'Successfully followed auction'
        '500':
          description: 'Something unexpected happened'
    delete:
      operationId: R405
      summary: 'R405: Stop following an auction'
      description: 'Authenticated user stops following an auction. Access: USR'
      tags:
        - 'M04: Notifications, Follows, Reviews'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                auctionid:
                  type: integer
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - auctionid
                - _token
      responses:
        '201':
          description: 'Successfully followed auction'
        '500':
          description: 'Something unexpected happened'


    get:
      operationId: R406
      summary: 'R406: View auctions that user follows'
      description: 'Show the auctions that the user follows. Access: USR'
      tags:
        - 'M04: Notifications, Follows, Reviews'
      parameters:
        - in: query
          name: username
          description: username of the followed auctions to be shown
          schema:
            type: string
          required: true 
      responses:
        '200':
          description: 'Ok. Show auctions being followed UI'
# M05: Admin Area and Reports
    
  /admin/{admin_username}:
    get:
      operationId: R501
      summary: 'R501: Admin Page'
      description: 'Admin page to manage the web aplication. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: admin_username
          description: username of the admin whose page is to be shown
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Show admin page'
        '302':
          description: 'Redirect because user is not authorized  '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/admin/login'
    
    post:
      operationId: R502
      summary: 'R502: Close report'
      description: 'Close a report. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: admin_username
          description: username of the admin 
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reportid:
                  type: integer
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - reportid
                - _token
      responses:
        '302':
          description: 'Redirect after close report.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful closing of report. Redirect to report.'
                  value: '/admin/login'
                302Failure:
                  description: 'Failed closing of report. Redirect to report.'
                  value: '/admin/login'
    

  

  /admin/report:
    get:
      operationId: R505
      summary: 'R505: Get reports Page'
      description: 'Get Reports Page. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: state 
          description: state of the reports
          schema:
            type: string
          required: false
        - in: query
          name: reporterid
          description: Id of the users that report
          schema:
            type: integer
          required: false
        - in: query
          name: reportedId
          description: id of the user that is being reported
          schema:
            type: integer
          required: false
        - in: query
          name: minDate
          description: Min date of the Report
          schema:
            type: string
          required: false
        - in: query
          name: maxDate
          description: Max date of the Report
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: Order to be used displaying reports
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Show reports found'
        '302':
          description: 'Redirect because user is not authorized  '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/admin/login'

  /admin/report/{id}:
    get:
      operationId: R506
      summary: 'R506: Show Report Page'
      description: 'Show page of a single report. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: id
          description: id of the admin
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Show report page'
        
        '302':
          description: 'Redirect because user is not authorized  '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/admin/login'

        '404':
          description: 'Report Not Found'
    put:
      operationId: R507
      summary: 'R507: Edit report page'
      description: 'Updates the state of the report. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: id
          description: id of the admin
          schema:
            type: integer
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                state:
                  type: string
                reportid:
                  type: integer
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
      responses:
        '302':
          description: 'Redirect because it is an unauthorized user '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Report successfully updated'
                  value: '/admin/report/{id}'
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/admin/login'

  /admin/login:
    get:
      operationId: R508
      summary: 'R508: Get Admin Login Page'
      description: 'Get Admin Login Page. Access: PUB'
      tags:
        - 'M05: Admin Area and Reports'
      responses:
        '200':
          description: 'Ok. Show login page'

    post:
      operationId: R509
      summary: 'R509: Admin Login'
      description: 'Admin Login. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - username
                - password
                - _token
      responses:
        '302':
          description: 'Redirect after processing the login information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful login. Redirect to admin home page.'
                  value: '/admin/{id}'
                302Failure:
                  description: 'Failed login. Whoops! invalid email and password.'
                  value: '/admin/login'

  /admin/logout:
    post:
      operationId: R510
      summary: 'R510: Admin Logout'
      description: 'Admin Logout. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      responses:
        '302':
          description: 'Redirect after processing the logout information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to admin login page.'
                  value: '/home'
                302Failure:
                  description: 'Failed logout. Redirect to admin home page.'
                  value: '/admin/login'

  /user/{username}/report:
    post:
      operationId: R511
      summary: 'R511: Report user'
      description: 'Report a user. Access: USR'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: username
          description: username of the user to report
          schema:
            type: string
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - reason
                - _token
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful report of user. Redirect to user profile.'
                  value: '/users/{username}'
                302Failure:
                  description: 'Failed report of user. Redirect to user profile.'
                  value: '/users/{username}'
  /category/create:
    get:
      operationId: R512
      summary: 'R512: Category Creation Form'
      description: 'Provide new category creation form. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      responses:
        '200':
          description: 'Ok. Show category creation UI'
        '302':
          description: 'Redirect because the user is not authorized '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/'

  /category/{id}/edit:
    get:
      operationId: R513
      summary: 'R513: Category Update Form'
      description: 'Provide new category update form. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: id
          description: id of the category to be edited
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show category edit UI'
        '302':
          description: 'Redirect because the user is not authorized '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Failure:
                  description: 'Unauthorized. You need to be an admin'
                  value: '/'
    


  /category/{id}:
    put:
      operationId: R514
      summary: 'R514: Category Update'
      description: 'Processes the category update form. Access: OWN'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: id
          description: id of the category to be edited
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                photo:
                  type: string
                  format: binary
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - _token
                - name
      responses:
        '401':
          description: 'Unauthorized.'
        '302':
          description: 'Redirect after processing the new auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to admin dashboard.'
                  value: '/admin/{username}'

    delete:
      operationId: R515
      summary: 'R515: Category Deletion'
      description: 'Delete Category. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      parameters:
        - in: query
          name: id
          description: id of the category to be deleted
          schema:
            type: integer
          required: true
      
      requestBody:
              required: true
              content:
                application/x-www-form-urlencoded:
                  schema:
                    type: object
                    properties:
                      _token:   
                        type: string
                        description: CSRF Token
                    required:
                      - _token
      responses:
        '401':
          description: 'Unauthorized.'
        '302':
          description: 'Redirect after deleting auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to admin dashboard'
                  value: '/admin/{username}'
      
  /category:
    post:
      operationId: R516
      summary: 'R516: Category Creation'
      description: 'Processes the new category creation form submission. Access: ADM'
      tags:
        - 'M05: Admin Area and Reports'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                photo:
                  type: string
                  format: binary
                _token:   
                  type: string
                  description: CSRF Token
              required:
                - name
                - photo
                - _token

      responses:
        '401':
          description: 'Unauthorized.'
        '302':
          description: 'Redirect after creating auction.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to admin dashboard'
                  value: '/admin/{username}'


  
  
# M06: Static/Home pages

  /contact-us:
    get:
      operationId: R601
      summary: 'R601: Contact Us'
      description: 'Contact Us page. Access: Pub'
      tags:
        - 'M06: Static/Home pages'
      responses:
        '200':
          description: 'Ok. Show log-in UI'

  /about-us:
    get:
      operationId: R603
      summary: 'R603: About'
      description: 'About page. Access: PUB'
      tags:
        - 'M06: Static/Home pages'
      responses:
        '200':
          description: 'Ok. Show log-in UI'

  /:
    get:
      operationId: R604
      summary: 'R604: Home page'
      description: 'Home page. Access: PUB'
      tags:
        - 'M06: Static/Home pages'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
  /home:
    get:
      operationId: R605
      summary: 'R605: Home page'
      description: 'Home page. Access: PUB'
      tags:
        - 'M06: Static/Home pages'
      responses:
        '200':
          description: 'Ok. Show log-in UI'

  
